name: Delete old workflow runs
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'
# Run monthly, at 00:00 on the 1st day of month.

jobs:
  del_runs:
    runs-on: ubuntu-latest
    steps:
    - name: 清理Actions空间
      if: env.REPO_TOKEN
      uses: small-5/delete-workflow-runs@main
      with:
        token: ${{ secrets.REPO_TOKEN }}
        keep_minimum_runs: 0
        repository: ${{ github.repository }}
        retain_days: ${{ env.retain_days }}
